body{
  font-family: 'Poppins',sans-serif;
  margin: 0;
}

.orange-color {
  color: orange;
}
h1{
  font-weight: 900;
  font-size: 50px;
  color: rgb(78, 77, 77);
}
h2{
  font-weight: 900;
  font-size: 30px;
  color: rgb(78, 77, 77);
}
p{
  font-weight: 20;
  color: gray;
}
.button{
  text-decoration: none;
  color: white;
  font-size: 12px;
  border-radius: 25px;
  padding: 15px 27px;
  background-image: linear-gradient(to left, #fc441b, #f78d36);
}
.home{
  display: flex;
  margin-left: 50px;
  margin-top: 30px;
}
.title{
  margin-top: 70px;
}
.half-width{
  width: 50%;
}
.home-img{
  width: 90%;
}
.about-me-img{
  width: 49%;
  margin-left: 30%;
}
.about-me{
  display: flex;
  margin-top: 100px;
  background-image: url(images/shapes/7.png);
  width: 100%;
}
.about-me-text{
  margin-top: 100px;
  margin-left: 80px;
}
.my-recipies{
  margin: 6.5%;
  margin-left: 170px;
}
.my-recipies-title{
  text-align: center;
}

.menu{
  display: flex;
  width: 100%;
}
.item-card{
  box-shadow: 0 0 10px rgba(223, 222, 222, 0.842);
  border-radius: 20px;
  width: 27%;
  margin: 20px;
  padding: 10px;
}

.comments {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.comment-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-image: url('images/shapes/Frame\ 57.jpg');
}

.comment-card {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 15px;
  border-radius: 30px;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-item-img{
  width: 300px;
}

.subscribers{
  box-shadow: 0 0 10px rgba(223, 222, 222, 0.849);
  display: flex;
  margin-right: 150px;
  margin-left: 190px;
  border-radius: 20px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.subscribers-item{
  padding: 10px 110px;
}
.subscribers-p{
  font-size: 0.8em;
}

.black{
  color: black;
  font-family: 'Montserrat',sans-serif;
}
footer{
  background: rgb(4, 1, 15);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 100px;
}
.footer-des{
  font-size: 0.8em;
  color: rgb(170, 170, 170);
}
.footer-heading{
  font-size: 1.5em;
}

